html{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0046be;
}
.container{ 
    max-width: 1280px;
    margin: 0 auto;
}
header > ul{
    justify-content: flex-end;
    height: 48px;
    align-items: center;
}
header > ul li{
    padding-left: 16px;
}
header ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}
header a{
    color: white;
    text-decoration: none;
   
}
header >  div:not(.dk-blue){
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
}
.dk-blue{
    background-color: #003da6;
    height: 48px;
}

.dk-blue a{
    margin-left: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

a:hover{
    color: yellow;
}


header >  div:not(.dk-blue)
ul:last-child{ 
    flex-basis: 240px;
    /* display flex can't read width
    instead use, flex-basis to cretae width */
    display: flex;
    justify-content: space-between;
}
nav ul{
    height: 48px;
    align-items: center;
}
.sr-only{
    position: absolute;
    left: -1000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .searchbar input{
    min-width: 500px;
    padding: 1rem 0.5rem;
    background-image: url(../img/magnifying-glass.svg);
    background-repeat: no-repeat;
    background-position: center right 5px;
    background-size: 20px;
    border: none;
    outline: none;
    flex-basis: 100%;
    margin: 0 0 10px 1.5rem;
}

